<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="../../css/home/coin/coin.css" />
    <link rel="stylesheet" type="text/css" href="../../css/home/coin/switch.css" />
    <link rel="stylesheet" type="text/css" href="../../css/ty.css" />
    <link href="../../css/iconfont/iconfont.css" rel="stylesheet" type="text/css">
    <script src="../../js/switch.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/adaptationZ.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <title>币空间</title>
</head>
<body>
<div class="TcHeader">
    <i class="iconfont icon-fanhui" onclick="history.go(-1)"></i>
    <span>币空间</span>
    <i class="iconfont icon-dingdan"></i>
</div>
<div class="caoZuo">
    <ul class="caoZ">
        <li>存入 <div class="luDiv"></div></li>
        <li>买入 <div class="luDiv"></div></li>
        <li>卖出 <div class="luDiv"></div></li>
    </ul>
</div>
<div class="acco">
    <p class="p_left">
        <span>账号：<span class="username">17061815214</span></span>
    </p>
    <p class="p_right">
        <span>TOC余额：<span class="tocTe">20.0001</span></span>
    </p>
</div>
<!--存入-->
  <div class="li1 click_li">
      <div class="work" id="conte">
          <div class="xuanZhe">
              <div>
                  <div class="leiXing">
                      <span>类型：A</span>
                      <span>1%</span>
                      <span>利息</span>
                  </div>
                  <div class="time">
                      <span>5天</span>
                      <span>期限</span>
                  </div>
                  <div class="button_niu">
                      <img src="../../image/button2.png" alt="略略">
                  </div>
              </div>
              <div>
                  <div class="leiXing">
                      <span>类型：B</span>
                      <span>2%</span>
                      <span>利息</span>
                  </div>
                  <div class="time">
                      <span>10天</span>
                      <span>期限</span>
                  </div>
                  <div class="button_niu">
                      <img src="../../image/button2.png" alt="略略">
                  </div>
              </div>
              <div>
                  <div class="leiXing">
                      <span>类型：C</span>
                      <span>4%</span>
                      <span>利息</span>
                  </div>
                  <div class="time">
                      <span>20天</span>
                      <span>期限</span>
                  </div>
                  <div class="button_niu">
                      <img src="../../image/button2.png" alt="略略">
                  </div>
              </div>
              <div>
                  <div class="leiXing">
                      <span>类型：D</span>
                      <span>6%</span>
                      <span>利息</span>
                  </div>
                  <div class="time">
                      <span>30天</span>
                      <span>期限</span>
                  </div>
                  <div class="button_niu">
                      <img src="../../image/button2.png" alt="略略">
                  </div>
              </div>

          </div>
          <div class="butto" id="click_sub" style="padding-bottom: 0.5rem !important;">
              <div class="sub but">
                  <a href="javascript:void(0)" style="color: #fff;">确认</a>
              </div>
          </div>
      </div>
      <div id="click_dep">
          <div class="work">
              <div class="boxx box1">
                  <input placeholder="请输入存入数量">
                  <p class="convert">收益&nbsp;≈&nbsp;¥<span>10.0000</span>TOC</p>
              </div>
          </div>
          <div class="work">
              <div class="verify">
                  <span>互换密码</span><input placeholder="请输入互换密码">
              </div>
          </div>
          <div class="butto but1">
              <div class="subb"><a href="javascript:void(0)" style="color:white">确认</a></div>
          </div>
          <div class="law"><a href="javascript:void(0)" style="color: black"><i class="iconfont icon-duigou"></i>我同意<span>《币空间交易规则》</span></a></div>
      </div>
  </div>

<!--买入-->
  <div class="li2 click_li">
      <div class="workk">
          <p class="price">币空间今日卖出价 <span>0.546$</span></p>
      </div>
      <div class="work dataNubll">
          <div class="boxx">
              <input placeholder="请输入买入数量">
              <p class="convert">支付金额≈¥<span>10.0000</span></p>
          </div>
      </div>
      <div class="work">
          <div class="verify">
              <span>互换密码</span><input placeholder="请输入互换密码">
          </div>
      </div>
      <div class="butto but2">
          <div class="subb"><a href="javascript:void(0)" style="color:white">确认</a></div>
      </div>
      <div class="law"><a href="javascript:void(0)" style="color: black"><i class="iconfont icon-duigou"></i>我同意<span>《币空间交易规则》</span></a></div>
  </div>
<!--卖出-->
<div class="li3 click_li">
    <div class="workk">
        <p class="price">币空间今日收购价 <span>0.546$</span></p>
    </div>
    <div class="keMai">
        <div>
            (可卖数量 <span>196.0000</span>)
        </div>
    </div>
    <div class="work">
        <div class="boxx box2">
            <input placeholder="请输入卖出数量">
            <p class="convert">收益≈¥<span>10.0000</span></p>
        </div>
    </div>
    <p class="hint">提示：从币空间卖出TOC手续费用为交易额的25%</p>
    <div class="work">
        <div class="workPass">
            <p class="yzm">
                <span>验证码</span>
                <input type="number" placeholder="请输入验证码">
                <button class="set">发送验证码</button>
            </p>
        </div>
        <div  class="workPass">
            <p class="hhmm">
                <span>互换密码</span>
                <input type="text" placeholder="请输入互换密码">
            </p>
        </div>
    </div>
    <div class="butto">
        <div class="subb"><a href="javascript:void(0)" style="color:white">确认</a></div>
    </div>
    <div class="law"><i class="iconfont icon-duigou"></i>我同意<span>《币空间交易规则》</span></div>
</div>
<script src="../../js/http.js"></script>
<script src="../../js/nc.js"></script>
<script type="text/javascript">
    $(".click_li").eq(0).show();
    $(".click_li").eq(1).hide();
    $(".click_li").eq(2).hide();
    //
    $(".luDiv").eq(0).show();
    $(".luDiv").eq(1).hide();
    $(".luDiv").eq(2).hide();
    $(".caoZuo li").click(function(){
        $(".click_li").show().eq($(this).index()).siblings(".click_li").hide(	);
        $(".caoZuo li").eq($(this).index()).addClass("luse").siblings("li").removeClass("luse");
        //$(".luDiv").hide().eq($(this).index()).parent().children(".luDiv").show();
        li2()
    });
    function li2() {
        var diaplay_li2 = $(".li2").css("display");
        var diaplay_li3 = $(".li3").css("display");
        var diaplay_li1 = $(".li1").css("display");
        if (diaplay_li2 == "block"){
            $(".luDiv").hide().eq(1).parent().children(".luDiv").show();
        }else   if (diaplay_li3 == "block"){
            $(".luDiv").hide().eq(2).parent().children(".luDiv").show();
        }else   if (diaplay_li1 == "block"){
            $(".luDiv").hide().eq(0).parent().children(".luDiv").show();
            $("#conte").show();
            $("#click_dep").hide();
        }
    }

    var switches = {};
    var klassName = [];
    var options = {
        size: 'large',
        onSwitchColor:'rgb(2,188,165)'
    };
    $('input[type=checkbox]').each(function () {
        klassName.push($(this).attr('class'));
    });

    $.each(klassName, function (index, item) {
        switches[index] = new Switch(document.querySelector('.' + item), options);
    });
    $("#click_dep").hide();
    $("#click_sub").click(function () {
       $("#conte").hide();
        $("#click_dep").show();
    });
    //ajax
    console.log(localStorage.phone);//用户的手机号
    $.ajax({
        type:"post",
        data:{
          username: localStorage.phone
        },
        url:http+"index.php?s=/index/Hall/bkjZs",
        dataType:"json",
        success:function (data) {
           if (data.code ==200){
                $(".username").text(data.date.username);//用户的手机号
                $(".tocTe").text(data.date.goldnum)//用户toc余额
           }else{
               alert("数据加载错误");
           }
        }
    })
</script>
</body>
</html>