<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="../../css/home/coin/indent.css" />
    <link rel="stylesheet" type="text/css" href="../../css/ty.css" />
    <link href="../../css/iconfont/iconfont.css" rel="stylesheet" type="text/css">
    <script src="../../js/adaptationZ.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <title>交易规则</title>
</head>
<body style="background-color: white">
<div class="TcHeader">
    <i class="iconfont icon-fanhui"></i>
    <span>交易规则</span>
</div>
<div class="conte">
    <h2>币空间交易规则</h2>
    <p>一.存入规则</p>
    <div class="cent">
        <p>1.存币金额每笔最小金额为一个，笔数不限</p>
        <p>2.最小存入为五天，完成预约期限，可以获得制定的收益，无法完成预约期限的只要大于五天就可提取，收益按1%</p>
    </div>
    <p>二.买入规则</p>
    <div class="cent">
        <p>1.存币金额每笔最小金额为一个，笔数不限</p>
        <p>2.最小存入为五天，完成预约期限，可以获得制定的收益，无法完成预约期限的只要大于五天就可提取，收益按1%</p>
    </div>
    <p>三.卖出规则</p>
    <div class="cent">
        <p>1.存币金额每笔最小金额为一个，笔数不限</p>
        <p>2.最小存入为五天，完成预约期限，可以获得制定的收益，无法完成预约期限的只要大于五天就可提取，收益按1%</p>
    </div>
</div>
</body>
</html>