<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" type="text/css" href="../../css/home/tocTradingCenter.css" />
		<link rel="stylesheet" type="text/css" href="../../css/ty.css" />
		<script src="../../js/adaptationZ.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<title>交易中心</title>
	</head>

	<body>
		<div class="TcHeader">
			<img src="../../image/white_jt.png" />
			<span>交易中心</span>
		</div>
		<div class="caoZuo">
			<ul>
				<li>买入 <div class="luDiv"></div></li>
				<li>卖出 <div class="luDiv"></div></li>
				<li>历史 <div class="luDiv"></div></li>
				<li>缴单 <div class="luDiv"></div></li>
			</ul>
		</div>
		<div class="li1 click_li">
			<div class="scJi">
				<div>
					<span>
					市价交易
				</span>
				</div>
			</div>
			<div class="shuju">
				<div class="box_seach">
					<input class="seach" type="text" placeholder="请输入您想搜索的订单" />
				</div>
				<div class="box_data">
					<div>
						<div class="boxDing">
							<p>
								订单号：<span>201801176456555</span>
							</p>
						</div>
						<div class="yongHu">
							<div>
								<div class="T_toux">

								</div>
								<div class="dengNan">
									<img src="../../image/nan.png" />
									<img src="../../image/dengJi1.png" />
								</div>
								<div class="zongShu">
									<div>
										<span>数量:</span>
										<span>100.00</span>
									</div>
									<div>
										<span>单价:</span>
										<span>1200</span>
										$/TOC
									</div>
									<div>
										<span>总价:</span>
										￥<span>84.000</span>
									</div>
								</div>
								<div class="maiTa">
									<button>买TA</button>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="boxDing">
							<p>
								订单号：<span>201801176456555</span>
							</p>
						</div>
						<div class="yongHu">
							<div>
								<div class="T_toux">

								</div>
								<div class="dengNan">
									<img src="../../image/nan.png" />
									<img src="../../image/dengJi1.png" />
								</div>
								<div class="zongShu">
									<div>
										<span>数量:</span>
										<span>100.00</span>
									</div>
									<div>
										<span>单价:</span>
										<span>1200</span>
										$/TOC
									</div>
									<div>
										<span>总价:</span>
										￥<span>84.000</span>
									</div>
								</div>
								<div class="maiTa">
									<button>买TA</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!--买入-->
			<form action="" id="form" style="display: none">
				<div class="left_form">
					<div>
						<div class="jiaJian">
							<div>-</div>
							<input type="number" placeholder="购买数量" />
							<div>+</div>
						</div>
						<div>
							≈￥<span>10.00</span>
						</div>
					</div>
					<div>
						<div class="jiaJian">
							<div>-</div>
							<input type="number" placeholder="购买价格" />
							<div>+</div>
						</div>
						<div>
							*<span>10</span>≤显示数量≤<span>400</span>
						</div>
					</div>
					<div class="Total">
						<button>成交总额</button>
						<span>*汇率换算 1:7RMB</span>
						<input class="huHuanPass" type="password" placeholder="请输入您的互换密码" />
						<span></span>
						<input type="submit" value="买入" class="Total_sub" />
					</div>
				</div>
				<div class="right_form">
					<div class="keYong">
						<span>可用TOC</span>
						<span>100.0000</span>
					</div>
					<div class="keMai">
						<span>可买TOC</span>
						<span>100.0000</span>
					</div>
					<div class="sXf">
						<span>手续费</span>
						<span>10%</span>
					</div>
				</div>
			</form>
		</div>
		<!--卖出-->
		<div class="li3 click_li">
			<div class="scJi">
				<div>
					<span>
					市价交易
				</span>
				</div>
			</div>
			<div class="shuju">
				<div class="box_seach">
					<input class="seach" type="text" placeholder="请输入您想搜索的订单" />
				</div>
				<div class="box_data">
					<div>
						<div class="boxDing">
							<p>
								订单号：<span>201801176456555</span>
							</p>
						</div>
						<div class="yongHu">
							<div>
								<div class="T_toux">

								</div>
								<div class="dengNan">
									<img src="../../image/nan.png" />
									<img src="../../image/dengJi1.png" />
								</div>
								<div class="zongShu">
									<div>
										<span>数量:</span>
										<span>100.00</span>
									</div>
									<div>
										<span>单价:</span>
										<span>1200</span>
										$/TOC
									</div>
									<div>
										<span>总价:</span>
										￥<span>84.000</span>
									</div>
								</div>
								<div class="maiTa">
									<button>买TA</button>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="boxDing">
							<p>
								订单号：<span>201801176456555</span>
							</p>
						</div>
						<div class="yongHu">
							<div>
								<div class="T_toux">

								</div>
								<div class="dengNan">
									<img src="../../image/nan.png" />
									<img src="../../image/dengJi1.png" />
								</div>
								<div class="zongShu">
									<div>
										<span>数量:</span>
										<span>100.00</span>
									</div>
									<div>
										<span>单价:</span>
										<span>1200</span>
										$/TOC
									</div>
									<div>
										<span>总价:</span>
										￥<span>84.000</span>
									</div>
								</div>
								<div class="maiTa">
									<button>卖TA</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--买入-->
			<form action="" id="form" style="display: none">
				<div class="left_form">
					<div>
						<div class="jiaJian">
							<div>-</div>
							<input type="number" placeholder="购买数量" />
							<div>+</div>
						</div>
						<div>
							≈￥<span>10.00</span>
						</div>
					</div>
					<div>
						<div class="jiaJian">
							<div>-</div>
							<input type="number" placeholder="购买价格" />
							<div>+</div>
						</div>
						<div>
							*<span>10</span>≤显示数量≤<span>400</span>
						</div>
					</div>
					<div class="Total">
						<button>成交总额</button>
						<span>*汇率换算 1:7RMB</span>
						<input class="huHuanPass" type="password" placeholder="请输入您的互换密码" />
						<span></span>
						<input type="submit" value="买入" class="Total_sub" />
					</div>
				</div>
				<div class="right_form">
					<div class="keYong">
						<span>可用TOC</span>
						<span>100.0000</span>
					</div>
					<div class="keMai">
						<span>可买TOC</span>
						<span>100.0000</span>
					</div>
					<div class="sXf">
						<span>手续费</span>
						<span>10%</span>
					</div>
				</div>
			</form>
		</div>
		<!--历史-->
		<div class="li4 click_li">
			<div>
				<div class="payment lishi">
					<div>
						<div class="din">
							<span class="ddHao">订单号：<span>20181156487765</span></span>
							<div class="delHao">交易完成</div>
						</div>
					</div>
					<div>
						<div class="left_payment left_lishi">
							<span>交易类型</span>
							<span>数量</span>
							<span>单价</span>
							<span>创建时间</span>
						</div>

						<div class="right_payment right_lishi">
							<span style="color: #78D4C5;">卖出</span>
							<span>10.00</span>
							<span>￥<span>30</span>（共￥<span>30.00</span>）</span>
							<span>2018-01-01 20:15:49</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--缴单-->
		<div class="li2 click_li">
			<div>
				<div class="payment">
					<div>
						<div class="din">
							<span class="ddHao">订单号：<span>20181156487765</span></span>
							<div class="delHao">删除订单</div>
						</div>
					</div>
					<div>
						<div class="left_payment">
							<span>交易类型</span>
							<span>数量</span>
							<span>单价</span>
							<span>创建时间</span>
						</div>

						<div class="right_payment">
							<span style="color: #78D4C5;">卖出</span>
							<span>10.00</span>
							<span>￥<span>30</span>（共￥<span>30.00</span>）</span>
							<span>2018-01-01 20:15:49</span>
						</div>
						<div class="piPei">
							<button>带匹配</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(".maiTa").click(function(){
				$(".shuju").hide();
				$("#form").show();
			});
			$(".click_li").eq(0).show();
			$(".click_li").eq(1).hide();
			$(".click_li").eq(2).hide();
			$(".click_li").eq(3).hide();
			//
            $(".luDiv").eq(0).show();
            $(".luDiv").eq(1).hide();
            $(".luDiv").eq(2).hide();
            $(".luDiv").eq(3).hide();
			$(".caoZuo li").click(function(){
			    $(".click_li").show().eq($(this).index()).siblings(".click_li").hide(	);
				$(".caoZuo li").eq($(this).index()).addClass("luse").siblings("li").removeClass("luse");
				//$(".luDiv").hide().eq($(this).index()).parent().children(".luDiv").show();
                li2()
			});
			function li2() {
			    var diaplay_li2 = $(".li2").css("display");
			    var diaplay_li4 = $(".li4").css("display");
			    var diaplay_li3 = $(".li3").css("display");
			    var diaplay_li1 = $(".li1").css("display");
                if (diaplay_li2 == "block"||diaplay_li4== "block"){
                    $(".caoZuo").addClass("bai");
                    $("body").addClass("body_bai");
                }else if (diaplay_li2 == "none"||diaplay_li4== "none"){
                    $(".caoZuo").removeClass("bai");
                    $("body").removeClass("body_bai");
                }
                if (diaplay_li2 == "block"){
                    $(".luDiv").hide().eq(3).parent().children(".luDiv").show();
				}else   if (diaplay_li4 == "block"){
                    $(".luDiv").hide().eq(2).parent().children(".luDiv").show();
                }else   if (diaplay_li3 == "block"){
                    $(".luDiv").hide().eq(1).parent().children(".luDiv").show();
                }else   if (diaplay_li1 == "block"){
                    $(".luDiv").hide().eq(0).parent().children(".luDiv").show();
                }
            }
		</script>
	</body>

</html>