body{
	background: #11151E;
}
.top_img{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top: 0.18rem;
	align-items: center;
}
.header_top{
	width: 100%;
	height: 1.9rem;
	background: #18212A;
	overflow: hidden;
}
.top_img>img:first-child{
	width: 0.2rem;
    height: 0.14rem;
    transform: rotateZ(90deg);
}
.top_img>img:last-child{
	width: 0.2rem;
    height: 0.25rem;
}
.header_bom{
	width: 100%;
}
.header_bom>div:first-child{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	font-size: 0.14rem;
}
.header_touXiang{
	margin-bottom: 0.08rem;
	width: 0.6rem;
	border-radius: 50%;
	height: 0.6rem;
	background: url(../../image/0a1927bade086b5d4a6c1f58bd29376.png)no-repeat;
	background-size:cover ;
}
.header_bom>div:last-child{
	width: 80%;
	margin:  0 auto;
	display: flex;
	justify-content: space-between;
	font-size: 0.12rem;
	color: #FFFFFF;
	margin-top: 0.2rem;
}
.header_bom>div:last-child>div:first-child{
	display: flex;
}
.header_bom>div:last-child>div:first-child>span{
	color: #099785;
}
.header_bom>div:last-child>div:nth-of-type(2)>span{
	color: red !important;
}
.header_bom>div:last-child>div:nth-of-type(3)>span{
	color: red;
}
.zhoNg{
	width: 100%;
	font-size: 0.12rem;
}
.zhoNg>div{
	background: #18212A;
	width: 100%;
}
.kaPan{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #5B5E60;
	padding-bottom: 0.06rem;
	padding-top: 0.06rem;
}
.kaPan>div:first-child>span{
	color: red;
}
.kaPan>div:nth-of-type(2)>span{
	color: #099785;
}
.kaPan>div:nth-of-type(3)>span{
	color: #949799;
}
.kaPan>div:nth-of-type(4)>span{
	color: #949799;
}
.zhoNg>div:first-child{
	margin-top: 0.04rem;
	margin-bottom: 0.04rem;
}
.zhoNg>div:last-child{
	font-size: 0.12rem;
}
.shang{
	display: flex;
	justify-content: space-between;
	width: 90%;
	align-items: center;
	margin: 0 auto;
	padding-bottom: 0.05rem;
	padding-top: 0.05rem;
}
.shang>div{
	color: #5B5E60;
}
.xia{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	padding-bottom: 0.05rem;
	padding-top: 0.05rem;
}
.xia>div{
	color: #5B5E60;
}
.xia>div>span{
	color: #949799;
}

.shang>div>span{
	color: #949799;
}
.data1{
	width: 100%;
	height: 1.2rem;
}
.data1>div:first-child{
	width: 70%;
}
.data1>div:first-child>div{
	width: 100%;
	height: 2rem;
}
.data1>div:last-child{
	width: 20%;
}
.data2{
	width: 90%;
	height: 2rem;
	margin: 0 auto;
}
.data2>div{
	width: 100%;
	height: 100%;
}
#chearts2{
	width: 100%;
	height: 100%;
}
.data3{
	width: 90%;
	height: 2rem;
	margin: 0 auto;
}
.data3>div{
	width: 100%;
	height: 100%;
}
#chearts3{
	width: 100%;
	height: 100%;
}
.data_cheng{
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 0.4rem;
	font-size: 0.14rem;
	color: #8D8D8E;
	margin-top: 0.1rem;
}
.data_cheng>div{
	width: 33%;
	height: 100%;
	display: flex;
	align-items: center;
	align-content: space-between;	
	flex-direction: column;
}
.data_cheng>div div{
	width: 0.3rem;
	height: 0.06rem;
	background: #0062CC;
	border-radius: 5px;
	margin-top: 0.1rem;
}
.transactionFooter{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	bottom: 0;
	height: 0.5rem;
	background: #1F2831;
}
.transactionFooter>div{
	width: 24%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}
.transactionFooter span{
	font-size: 0.12rem;
	color: #818384;
}
.footer1,.footer1{
	width: 0.3rem;
	height: 0.25rem;
}
.footer2{
	width: 0.25rem;
	height:0.25rem;
}
.footer3{
	width: 0.25rem;
	height: 0.25rem;
}
.footer4{
	width: 0.2rem;
}
