.search{
	display: flex;
	justify-content: center;
	margin-top: 0.1rem;
}
.search>div{
	width: 80%;
	background: white;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	padding: 0.05rem;
}
.search>div>input{
	width: 60%;
	text-align: center;
	border: none;
	outline: none;
}
.search>div>input::-webkit-input-placeholder{
	color: #CDCDCD;
}
.search>div>span:nth-of-type(2){
	width: 10%;
	margin-left: 0.2rem;
	color: #CDCDCD;
}
.contant,.contant1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
}
.contant>div:nth-of-type(1),.contant1>div:nth-of-type(1){
	width: 80%;
	margin: 0.1rem 0 0 0.1rem;
	display: flex;
	flex-direction: column;
}
.leftbox>p:nth-of-type(1){
	font-size: 0.16rem;
	
}
.leftbox>p:nth-of-type(2){
	font-size: 0.12rem;
	color: #DCDCDC;
}
.contant>span,.contant1>span{
	color: #DCDCDC;
	margin-right: 0.1rem;
}
.contant1{
	margin-top: 0.1rem;
}

