<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../js/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/ty.css"/>
		<script src="../../js/adaptationZ.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sass/assetHub.css"/>
		<title>我的账户</title>
	</head>
	<body>
		<div id="assetHub">
			<header>
				<p class="iconfont icon-fanhui" onclick="goback()"></p>
				<div>
					<ul>
						<li>总资产(TOC)</li>
						<li>100.0000</li>
					</ul>
					<ul>
						<li>可用余额(TOC)</li>
						<li>100.0000</li>
					</ul>
				</div>
			</header>
	
			<article>
				<img class="bgaa" src="../../image/persol-center/圆角矩形-3@2x.png" />
				<span class="time">
					<img src="../../image/persol-center/时间-(3)-拷贝@2x.png" />
				</span>
				<span class="time1">持有时间</span>
				
			</article>
			
				<table width="100%" align="center">
				 	<tr>
				 		<th>名称/代码</th>
				 		<th>持有(m)</th>
				 		<th>可转(m)</th>
				 	</tr>
				 	<tr>
				 		<td>1131</td>
				 		<td>2018-2-5</td>
				 		<td>0.20000</td>
				 	</tr>
				 	<tr>
				 		<td>1121</td>
				 		<td>2018-2-5</td>
				 		<td>0.20000</td>
				 	</tr>
				 	<tr>
				 		<td>1131</td>
				 		<td>2018-2-5</td>
				 		<td>0.20000</td>
				 	</tr>
				 </table>
		
		
		</div>
	</body>
	<script>
			//返回上一层
	    function goback(){
			location.href=history.go(-1)
		}
	</script>
</html>
