<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>充值明细</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="../../css/sass/Detailed_cz.css">
    <link rel="stylesheet" href="../../css/ty.css">
    <script src="../../js/adaptationZ.js"></script>
    <script src="../../js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <header>
        <img src="../../image/white_jt.png">
        <span>充值明细</span>
    </header>
    <div class="date">
        <span>2018年2月</span>
    </div>

    <!--//明细-->
    <div class="detaildDiv">
        <div>
            <div>
                <div class="detaild_img">
                    <img src="../../image/detailed_img.png" alt="">
                </div>
                <div class="detaild_data">
                    <p>15100113583</p>
                    <span>03-03 13：13</span>
                </div>
                <div class="detaild_jg">
                    <span>500</span>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="detaild_img">
                    <img src="../../image/detailed_img.png" alt="">
                </div>
                <div class="detaild_data">
                    <p>15100113583</p>
                    <span>03-03 13：13</span>
                </div>
                <div class="detaild_jg">
                    <span>500</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>