<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../js/jquery-3.1.1.min.js"></script>
		<script src="../../js/adaptationZ.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/ty.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sass/serverli.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sass/paybind.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/bootstrap/css/bootstrap.css"/>
		<script src="../../js/bootstrap/js/bootstrap.min.js"></script>
		<title>支付绑定</title>
	</head>
	<body>
		<div id="systemnotice">
			<header>
				<span class="iconfont icon-fanhui" onclick="goback()"></span>
				<span>支付绑定</span>
				<span></span>
			</header>
			
			<!--修改区域-->
			<div class="updateplace">
				<div>
					<div class="password">
						<span>真实姓名</span>
						<input type="text" placeholder="请输入您的真实姓名"/>
					</div>
					<div class="password">
						<span>绑定类型</span>
						<input type="text"  class="paybtn"/>
						<div class="btn-group" role="group">
						    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						      <span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu">
						      <li><a href="#" class="inponemy">支付宝</a></li>
						      <li><a href="#" class="inponemy1">手机账号</a></li>
						    </ul>
						</div>
					</div>
					<div class="password">
						<span>绑定号码</span>
						<input type="text" placeholder="请输入您的支付宝号"/>
					</div>
				</div>
			</div>
			<span class="hint">
				支付宝/银行卡的用户姓名需要与身份认证的姓名一致
			</span>
			
			<p class="truebtn">提交</p>
		</div>
	</body>
	<script>
	//返回上一层
	    function goback(){
			location.href=history.go(-1)
		}
	    $(".inponemy").click(function(){
	    	$(".paybtn").val("支付宝")
	    })
	    $(".inponemy1").click(function(){
	    	$(".paybtn").val("手机账号")
	    })
	</script>
</html>
