<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../js/jquery-3.1.1.min.js"></script>
		<script src="../../js/adaptationZ.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/ty.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sass/serverli.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont/iconfont.css"/>
			<link rel="stylesheet" type="text/css" href="../../css/sass/iconfont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sass/font-awesome/font-awesome.min.css"/>
		<title>个人资料</title>
	</head>
	<body>
		<div id="persondata">
			
			<!--服务条款页面-->
			<!--导航头-->
			<header>
				<span class="iconfont icon-fanhui" onclick="goback()"></span>
				<span>个人资料</span>
				<span></span>
			</header>
			
			<div class="personhead"><span>头像</span><span><img src="../../image/persol-center/组-7@2x.png"/><i class="iconfont iconfont-xiangyou3"></i></span></div>
			
			<div class="personhead2">
				<span>实名认证</span>
				<span><img src="../../image/persol-center/女-(2)@2x.png"/><span>已实名</span></span>
			</div>
			
			<div class="personhead"><span>昵称</span><span><span>啊就是的时代</span><i class="iconfont iconfont-xiangyou3"></i></span></div>
			
			<div class="personhead1">
				<span>性别</span>
				<span>女</span>
			</div>
			<div class="personhead1">
				<span>手机号</span>
				<span>5555555555</span>
			</div>
			<div class="personhead1">
				<span>邮箱</span>
				<span>77747474747</span>
			</div>
			<div class="personhead1">
				<span>生日</span>
				<span>19900202</span>
			</div>
			<div class="personhead1">
				<span>个性签名</span>
				<span><span>柔柔弱弱</span><i class="iconfont iconfont-xiangyou3"></i></span>
			</div>
			<div class="personhead1">
				<span>钱包ID</span>
				<span>暗杀者非的人感风格</span>
			</div>
		
			
		</div>
	</body>
	<script>
		//返回上一层
	    function goback(){
			location.href=history.go(-1)
		}
	</script>
</html>
