<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推广排名</title>
    <link rel="stylesheet" href="../../css/ty.css">
    <link rel="stylesheet" href="../../css/sass/ranking.css">
    <script src="../../js/adaptationZ.js"></script>
    <script src="../../js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="rankingBg">
        <header>
            <img src="../../image/white_jt.png" alt="">
        </header>
        <div  class="logo">
            <img src="../../image/ranking_logo.png" alt="">
        </div>
        <table id="table">
            <tr>
                <th>名次</th>
                <th>头像</th>
                <th>名字</th>
                <th>邀请一级好友</th>
            </tr>
            <tr class="table_data">
                <td>
                    <img src="../../image/bai%20(2).png" alt="">
                </td>
                <td>
                    <img src="../../image/ou1.jpg" alt="">
                </td>
                <td class="table_name">
                    阿里巴巴与四十大盗
                </td>
                <td class="table_data">
                    4654
                </td>
            </tr>
            <tr class="table_data">
                <td>
                    <img src="../../image/bai%20(2).png" alt="">
                </td>
                <td>
                    <img src="../../image/ou1.jpg" alt="">
                </td>
                <td class="table_name">
                    阿里巴巴与四十大盗
                </td>
                <td class="table_data">
                    4654
                </td>
            </tr>
        </table>
    </div>
</body>
</html>