<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../js/jquery-3.1.1.min.js"></script>
		<script src="../../js/adaptationZ.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/ty.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sass/serverli.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont/iconfont.css"/>
		<title>服务条款</title>
	</head>
	<body>
		<div id="setCenter">
		<!--服务条款页面-->
		<!--导航头-->
			<header>
				<span class="iconfont icon-fanhui" onclick="goback()"></span>
				<span>服务条款</span>
				<span></span>
			</header>
			<!--条款内容-->
			<article>
				<p><strong>服务条款</strong></p>
				<ul>
					<li>依据本协议的规定，toc矿场平台为会员提供服务</li>
					<li>依据本协议的规定，toc矿场平台为会员提供服务</li>
					<li>依据本协议的规定，toc矿场平台为会员提供服务</li>
				</ul>
				<p>第一条</p>
				<p>
					依据本协议的规定，toc矿场平台为会员提供服务依据本协议的规定，toc矿场平台为会员提供服务依据本协议的规定，toc矿场平台为会员提供服务
				</p>
			</article>
		</div>
	</body>
	<script>
		//返回上一层
	    function goback(){
			location.href=history.go(-1)
		}
	</script>
</html>
