<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../js/jquery-3.1.1.min.js"></script>
		<script src="../../js/adaptationZ.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/ty.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sass/serverli.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont/iconfont.css"/>
		<title>密码设置</title>
	</head>
	<body>
		<div id="setPassword">
			
			<!--服务条款页面-->
		<!--导航头-->
			<header>
				<span class="iconfont icon-fanhui" onclick="goback()"></span>
				<span>密码设置</span>
				<span></span>
			</header>
			<div class="setPass"><input type="text" placeholder="修改登录密码" /><span>></span></div>
			<div class="setPass"><input type="text" placeholder="修改设置密码" /><span>></span></div>
			
		</div>
		
	
	
	</body>
	<script>
		//返回上一层
	    function goback(){
			location.href=history.go(-1)
		}
	</script>
</html>
