<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/sass/systemnotice1.css"/>
		<script src="../../js/jquery-3.1.1.min.js"></script>
		<script src="../../js/adaptationZ.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/ty.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sass/serverli.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/bootstrap/css/bootstrap.css"/>
		<script src="../../js/bootstrap/js/bootstrap.min.js"></script>
		<title>系统公告</title>
	</head>
	<body>
		<div id="systemnotice" >
			<div class="system">
				
			
				<header>
					<span class="iconfont icon-fanhui" onclick="goback()"></span>
					<span>系统公告</span>
					<span></span>
				</header>
					
				<!--奖励公告-->
				<div class="award">
					<h4>	奖励公告</h4>
					<p>
						<span>2017年12月11日</span>
						<span>12:15</span>
					</p>
				</div>
				
				
				<!--内容部分-->
				<p class="toc_contant">
				TOC(旅游币)是由畅游旅行社有限公司研发的一种可以使用在旅游
				业的p2p形式的数字货币，用户之间的多有交易都是点对定向的交易
				,点对点的传输意味着一个去中心化的支付系统
				</p>
			
			
			</div>
		
		</div>
	</body>
	<script>
	//返回上一层
	    function goback(){
			location.href=history.go(-1)
		}
	 
	</script>
</html>
