<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改登录密码</title>
    <link rel="stylesheet" href="../../css/ty.css">
    <link rel="stylesheet" href="../../css/sass/loginPassword.css">
    <script src="../../js/adaptationZ.js"></script>
</head>
<body>
<header>
    <img src="../../image/white_jt.png">
    <span>修改交易密码</span>
</header>

<div class="imgPass">
    <div>
        <img src="../../image/detailed_img.png" alt="">
    </div>
    <span>150***4546</span>
</div>
<!--//修改密码-->
<div class="modifyPass">
    <div>
        <div class="pass">
            <span>旧密码</span>
            <input type="password">
        </div>
    </div>
    <div>
        <div class="pass">
            <span>新密码</span>
            <input type="password">
        </div>
    </div>
    <div>
        <div class="pass">
            <span>旧密码</span>
            <input type="password">
        </div>
    </div>
</div>
<div class="Determine">
    <button>确认</button>
</div>
</body>
</html>