<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../js/jquery-3.1.1.min.js"></script>
		<script src="../../js/adaptationZ.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/ty.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sass/serverli.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sass/updatepass.css"/>
		<title>修改登录密码</title>
	</head>
	<body>
		<div id="systemnotice">
			<header>
				<span class="iconfont icon-fanhui" onclick="goback()"></span>
				<span>修改登录密码</span>
				<span></span>
			</header>
			
			<!--修改区域-->
			<div class="updateplace">
				<div class="updateplaceimg">
					<span><img src="../../image/detailed_img.png"/></span>
					<p>150****4555</p>
				</div>
				
				<div>
					<div class="password">
						<span>旧密码</span>
						<input type="password" />
					</div>
					<div class="password">
						<span>新密码</span>
						<input type="password" />
					</div>
					<div class="password">
						<span>确认密码</span>
						<input type="password" />
					</div>
				</div>
				
				
			</div>
		
		</div>
	</body>
	<script>
	//返回上一层
	    function goback(){
			location.href=history.go(-1)
		}
	</script>
</html>
