<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" type="text/css" href="../../css/ty.css" />
		<link rel="stylesheet" type="text/css" href="../../css/time/Details_sub.css" />
		<script src="../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/adaptationZ.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery.lazyload.js" type="text/javascript" charset="utf-8"></script>
		<title>认购详情</title>
	</head>

	<body>
		<div class="header_img">
			<img src="../../image/ou1.jpg" />
			<img src="../../image/ou1.jpg" />
			<img src="../../image/ou1.jpg" />
			<img src="../../image/ou1.jpg" />
		</div>
		<div class="details">
			<p>
				周杰伦（<span>123</span>）
			</p>
			<div class="second">
				<span>0.1</span>TOC/秒
			</div>
			<div class="date">
				申购时间：<span>12.12</span>
			</div>
			<div class="details_p">
				<p>
					我耳朵呢德班王嘉尔的文件二十年参加啊我看到那看似简单我看奥术大师大所大所多翁群啊实打实大声道奥术大师大阿萨德阿萨德阿萨德阿萨德暗杀
				</p>
				<div class="datails_open">
					<span>展开</span>
				</div>
			</div>
		</div>
		<!--其他推荐-->
		<div class="Recommend">
			<span>其他推荐</span>
			<div class="puBu">
				<div>
					<img data-original="../../image/ou1.jpg" class="bg_puBu" />
					<p class="text_puBu">
						<span>仙女啊</span>
						<span>
						<span>0.1</span>toc
						</span>
					</p>
				</div>
				<div>
					<img data-original="../../image/ou1.jpg" class="bg_puBu" />
					<p class="text_puBu">
						<span>仙女啊</span>
						<span>
						<span>0.1</span>toc
						</span>
					</p>
				</div>
				<div>
					<img data-original="../../image/ou1.jpg" class="bg_puBu" />
					<p class="text_puBu">
						<span>仙女啊</span>
						<span>
						<span>0.1</span>toc
						</span>
					</p>
				</div>
			</div>
		</div>
		<div style="height: 0.6rem;">
			<footer>
				<div>
					<div>
						发行<span>100000</span>s
					</div>
				</div>
				<div>
					认购
				</div>
			</footer>
		</div>
		<div class="details_mb">
			<div>
				<div class="active">
					<div class="sub_queRen">
						<img onclick="none()" src="../../image/FC9B5.png"/>
						<span class="queRen">
							确定申购
						</span>
					</div>
					<div class="details_data">
						<div>
							<span>申购时间</span>
						</div>
						<div>
							<button>-</button>
							<input type="number" />
							<button>+</button>
						</div>
					</div>
					<div class="text_de">
						<div>
							<span>申购价格</span>
						</div>
						<div>
							<span>
								0.1	
							</span>
							TOC/秒
						</div>
					</div>
					<div class="font_de">
						<div>
							<span>冻结金额</span>
						</div>
						<div>
							<span>
								2000	
							</span>
							TOC
						</div>
					</div>
					<div class="guiZhe">
						《申购规则》
					</div>
					<button class="butQueD">确定</button>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
				$("img").lazyload({
					effect: "fadeIn"
				});
			});
			function none(){
				$(".details_mb").css("display","none")
			}
		</script>
	</body>

</html>