<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>交易首页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../css/ty.css" />
		<link rel="stylesheet" type="text/css" href="../../css/time/home.css" />
		<link rel="stylesheet" type="text/css" href="../../css/footer.css" />
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
		<script src="../../js/adaptationZ.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<!--//banner-->
		<div class="swiper-container banner">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="../../image/banner1.jpg" />
				</div>
			</div>
		</div>
		<div class="daoHang">
			<a href="">
				<div>
					<img class="daoImg1" src="../../image/ziXuan.png" />
					<span>自选</span>
				</div>
			</a>
			<a href="">
				<div>
					<img class="daoImg2" src="../../image/hangQing.png" />
					<span>行情</span>
				</div>
			</a>
			<a href="">
				<div>
					<img class="daoImg3" src="../../image/maiMai.png" />
					<span>买卖</span>
				</div>
			</a>
			<a href="../subscription/home.html">
				<div>
					<img class="daoImg4" src="../../image/renZheng.png" />
					<span>认购</span>
				</div>
			</a>
		</div>
		<div class="Ttiao">
			<img src="../../image/touTiao.png" />
			<div class="toutiao" id="demo">
				<ul id="holder">
					<li>
						<a href="">123123123</a>
					</li>
					<li>
						<a href="">123123123</a>
					</li>
				</ul>
			</div>
		</div>
		<!--新任主播-->
		<div class="newHost">
			<div>
				<span>新任主播</span>
				<div class="swiper-container new_host">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="new_bg">

							</div>
							<div>
								<span>小仙女</span>
								<span>2000s</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="new_bg">

							</div>
							<div>
								<span>小仙女</span>
								<span>2000s</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="new_bg">

							</div>
							<div>
								<span>小仙女</span>
								<span>2000s</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="new_bg">

							</div>
							<div>
								<span>小仙女</span>
								<span>2000s</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--推荐主播-->
		<div class="recommendHost">
			<div>
				<span>推荐主播</span>
				<div class="swiper-container recommend_host">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="kan_Host">
								<div>
									<span class="active">阿里巴巴与四十大盗</span>
									<div class="recommend_bg"></div>
									<div class="fenZhong">
										<span>
										<span>1000</span>分钟
										</span>
										<button>预约</button>
									</div>
									<div class="jiao_Yi">
										交易代码：<span>123123</span>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="kan_Host">
								<div>
									<span class="active">阿里巴巴与四十大盗</span>
									<div class="recommend_bg"></div>
									<div class="fenZhong">
										<span>
										<span>1000</span>分钟
										</span>
										<button>预约</button>
									</div>
									<div class="jiao_Yi">
										交易代码：<span>123123</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--新星榜-->
		<div class="starList">
			<div id="">
				<div class="star">
					<img src="../../image/xiaoXing.png" />
					<span>新星榜</span>
				</div>
				<div class="list">
					<div>
						<div class="list_tx"></div>
						<div class="list_text">
							<span>丹参滴丸</span>
							<span style="color: #BDBDBD;">（<span>123123</span>）</span>
						</div>
					</div>
					<div>
						<div class="list_tx"></div>
						<div class="list_text">
							<span>丹参滴丸</span>
							<span style="color: #BDBDBD;">（<span>123123</span>）</span>
						</div>
					</div>
					<div>
						<div class="list_tx"></div>
						<div class="list_text">
							<span>丹参滴丸</span>
							<span style="color: #BDBDBD;">（<span>123123</span>）</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
			<footer>
				<a href="../home.html">
					<div>
						<img src="../../image/footer_time.png" />
						<span>TOC</span>
					</div>
				</a>
				<a href="home.html">
					<div>
						<img src="../../image/footer_time.png" />
						<span>时间</span>
					</div>
				</a>
				<a href="">
					<div>
						<img src="../../image/footer_broadcast.png" />
						<span>直播</span>
					</div>
				</a>
				<a href="">
					<div>
						<img src="../../image/footer_city .png" />
						<span>商城</span>
					</div>
				</a>
				<a href="">
					<div>
						<img src="../../image/footer_my.png" />
						<span>我的</span>
					</div>
				</a>
			</footer>
		</div>
		<script type="text/javascript">
			var swiper1 = new Swiper(".banner", {
				autoplay: true,
				loop: true
			})
			var swiper2 = new Swiper(".new_host", {
				slidesPerView: 2.5,
				spaceBetween: 20,
			})
			var swiper3 = new Swiper(".recommend_host", {
				slidesPerView: 1.8,
				spaceBetween: 5,
			})

			//头条
			function AutoScroll(obj) {
				$(obj).find("ul:first").animate({
						marginTop: "-0.22rem"
					},
					500,
					function() {
						$(this).css({
							marginTop: "0px"
						}).find("li:first").appendTo(this);
					});
			}
			$(document).ready(function() {
				setInterval('AutoScroll("#demo")', 3000)
			});
//			var ulGun = document.getElementsByClassName("toutiao")[0];
//			var create = function(x, y, text) {
//				var marquee = document.createElement('marquee');
//				marquee.style.position = 'absolute';
//				marquee.style.left = x + 'rem';
//				marquee.style.top = y + 'rem';
//				marquee.innerText = text;
//				ulGun.appendChild(marquee);
//			};
//			window.onload = function() {
//				create(0, 0.05, "TOC");
//				$("marquee").attr("scrollamount", "2")
//			}
		</script>
	</body>

</html>