<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="../../css/time/volume.css" />
    <link rel="stylesheet" type="text/css" href="../../css/ty.css" />
    <link href="../../css/iconfont/iconfont.css" rel="stylesheet" type="text/css">
    <script src="../../js/adaptationZ.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <title>成交记录</title>
</head>
<body>
<div class="TcHeader">
    <i class="iconfont icon-fanhui" onclick="window.history.go(-1)"></i>
    <span>历史成交</span>
</div>
<div class="startTiem">
    <ul>
        <li>起始日期</li>
        <li>结束日期 </li>
    </ul>
    <ul>
        <li>2018-02-27</li>
        <li>2018-02-27 </li>
    </ul>
</div>
<div class="headLine">
    <ul>
        <li>名称/代码</li>
        <li>成交时间 </li>
        <li>成交价/成交量</li>
        <li>成交额</li>
    </ul>
</div>
</body>
</html>